---
layout: default
---

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">
                <i class="fas fa-images"></i> VRChat スクリーンショット ギャラリー
            </h1>
            
            <!-- 検索ボックス -->
            {% include search-box.html %}
            
            <!-- 統計情報 -->
            <div class="alert alert-info mb-4">
                <div class="row text-center">
                    <div class="col-md-3">
                        <strong>{{ site.posts | size }}</strong><br>
                        <small>総スクリーンショット数</small>
                    </div>
                    <div class="col-md-3">
                        <strong>{{ site.posts | map: 'world_name' | uniq | size }}</strong><br>
                        <small>訪問ワールド数</small>
                    </div>
                    <div class="col-md-3">
                        <strong>{{ site.posts | map: 'tags' | join: ',' | split: ',' | uniq | size }}</strong><br>
                        <small>ユニークタグ数</small>
                    </div>
                    <div class="col-md-3">
                        <strong>{{ site.posts.first.date | date: "%Y-%m-%d" }}</strong><br>
                        <small>最新撮影日</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ギャラリーグリッド -->
    {% include gallery-grid.html %}
</div>
